@import "../fonts/font.css";

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./common.css";
@import "./custom_css.css";

/* Your Metronic styles */
@import "./styles.css";

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}